.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.backBtn {
  max-width: 100px;
  cursor: pointer;
}
.rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 40vw;
  gap: 24px;
}
